<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список продуктов</title>
    <!-- Подключение Bootstrap CSS через CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Продукты</h1>
        <a href="{% url 'product-add' %}" class="btn btn-primary mb-3">Добавить новый продукт</a>
        <ul class="list-group">
            {% for product in products %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ product.name }} - {{ product.price }} $
                    <div>
                        <a href="{% url 'product-detail' product.id %}" class="btn btn-sm btn-info">Детали</a>
                        <a href="{% url 'product-update' product.id %}" class="btn btn-sm btn-secondary">Редактировать</a>
                        <a href="{% url 'product-delete' product.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Вы уверены, что хотите удалить этот продукт?');">Удалить</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination">
                {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; первая</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">предыдущая</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">Страница {{ products.number }} из {{ products.paginator.num_pages }}</a></li>
                {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">следующая</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}">последняя &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- Подключение Bootstrap JS и зависимостей через CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
